body {
background-image: url("images/city-background.jpg");
background-color: #cccccc; 
background-size: cover;
}

.btn-large {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 32px; 
    width: 400px;
    height: 80px; 
    vertical-align: -webkit-baseline-middle; 
    line-height: normal; 
    left: 50%;
    top: 50%;
    margin-top: -15px;   
    margin-left: -200px; 
    position: fixed; 
}

