body {
background-image: url("images/city-background.jpg");
width: 100%; 
background-color: #cccccc; 
background-size: cover;

}

.brand-logo {
    font-family: 'Hammersmith One', sans-serif;

}

.btn-large {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 32px; 
    width: 400px;
    height: 80px; 
    vertical-align: -webkit-baseline-middle; 
    line-height: normal; 
    left: 50%;
    top: 50%;
    margin-top: -15px;   
    margin-left: -200px; 
    position: fixed; 
}

.nav-wrapper {
    background-color: #1CA79A;
}
.page-footer {
    background-color: #1CA79A;
    width: 100%;
    margin: 0px;
    padding: 10px;
}
.brand-logo {
    margin-left: 20px;
    padding: 5px;
}
.wrapper {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 30px;
}

.container {
    width: 70%;
    margin-left: 10px;
    margin-right: 10px;
}

.collection-header {
    text-align: center;
}